html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
} 
ol, ul {
    list-style: none;
}

body {
    font-family: 'League Spartan', sans-serif;
}
.header {
    display: flex;
    width: 1440px;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
}
.order-link {
    display: block;
    width: 278px;
    height: 82px;
    background-color: rgb(135, 92, 4);
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    line-height: 82px;
    text-align: center;
    margin-top: 50px;
}
.price {
    margin-top: -54px;
    margin-left: 310px;
    font-size: 26px;
    text-decoration: none;
}
.mor-title {
margin-bottom: -150px;
margin-top: -100px;
}
.pop-ular {
    font-size: 22px;
    margin-bottom: -29px;
}
.mod-els {
    font-size: 50px;
    margin-left: 6px;
}
.son22 {
    margin-left: 25px;
}
.son22tit {
    font-size: 32px;
}
.sw12 {
    font-size: 25px;
}
.description-prod {
    font-size: 40px;
}
.prod-title {
  font-size: 60px;
  font-style:unset;
  color: rgb(149, 123, 18);
  margin-bottom: -10px;
}